<head>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="script.js"></script>
  </head>
<body>
  <h1 class="text-center">IQ TEST</h1>
<div class="container" style="position:absolute; top:50%;left:50%;transform:translate(-50%,-50%);">
 <div class="block" ng-app="Iqtest" ng-controller="icontroller" data-ng-init="exe()">
   
   <h1 class="text-center	">{{x}}</h1>
    <input type="text" class="form-control justify-content-center" ng-model="inputs">
   <div >  <h5 class="block text-center">Your answer is  {{CORRECT}} </h5></div>
   <h1 class="block text-center"> YOUR SCORE  {{count}}</h1>
   <br>
      <button class="btn btn-block bg-primary" ng-click="exe()" value="submit">TEST</button>
   </div>
 </div>
</div>

</body>
